<!DOCTYPE html>
<html>
<head>
  <title>WeesamBooking</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
 
	    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
	    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </a>

	    <!-- Be sure to leave the brand out there if you want it shown -->
	    <a class="brand" href="#">Weesam Booking System</a>

	    <!-- Everything you want hidden at 940px or less, place within here -->
	    <div class="nav-collapse collapse">
	      <!-- .nav, .navbar-search, .navbar-form, etc -->
	      <ul class='nav pull-right'>
	      	<li class='active'><%= link_to 'Link 1', '#' %></li>
	      	<li><%= link_to 'Link 2', '#' %></li>
	      	<li><%= link_to 'Link 3', '#' %></li>
	      	<li><%= link_to 'Link 4', '#' %></li>
	      </ul>
	    </div>
 
    </div>
  </div>
</div>

<div id='wrap'>
	<div id='main' class='container-fluid'>
		<div class="tabbable tabs-left">
			<ul class="nav nav-tabs">
		    <li class='active'>
		    	<%= link_to raw("<i class='icon icon-large icon-user'></i><span class='lbl'>Link 1</span>"), '#' %>
		    </li>
      	<li>
		    	<%= link_to raw("<i class='icon icon-large icon-file-alt'></i><span class='lbl'>Link 2</span>"), '#' %>
		    </li>
      	<li>
		    	<%= link_to raw("<i class='icon icon-large icon-list'></i><span class='lbl'>Link 3</span>"), '#' %>
		    </li>
      	<li>
		    	<%= link_to raw("<i class='icon icon-large icon-cog'></i><span class='lbl'>Link 4</span>"), '#' %>
		    </li>
		  </ul>

			<div class="tab-content">
				<div>
					<%= yield %>
				</div>
			</div>
		</div>
	</div>
</div>

<footer class='footer'>
	<div class='container'>
		&copy; Weberock 2013
	</div>
</footer>

</body>
</html>
